<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Taylor Collins</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<MatDivider></MatDivider>

<MatNavMenu Class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <MatNavItem Class="mat-button" Style="color: white" Href="">
        <MatIcon Icon="@MatIconNames.Home"></MatIcon>&nbsp;Home
    </MatNavItem>
    <MatNavItem Class="mat-button" Style="color: white" Href="blogs">
        <MatIcon Icon="@MatIconNames.Folder"></MatIcon>&nbsp;Blogs
    </MatNavItem>
</MatNavMenu>

<div class="social-footer @NavMenuCssClass">
    <MatDivider></MatDivider>
    @foreach (var link in Link.All)
    {
        <a href="@link.Url" target="_blank">
            <MatButton><i class="fa fa-@link.Icon"></i></MatButton>
        </a>
    }
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    class Link
    {
        public static readonly IEnumerable<Link> All = new List<Link>
    {
            new Link("Gmail", "mailto:tayco2702@gmail.com", "envelope"),
            new Link("LinkedIn", "https://www.linkedin.com/in/tayco2702/", "linkedin"),
            new Link("Stack Overflow", "https://stackoverflow.com/users/5803406/devnull?tab=profile", "stack-overflow"),
            new Link("Github", "https://github.com/t-j-c", "github")
        };

        private Link(string name, string url, string icon)
        {
            Name = name;
            Url = url;
            Icon = icon;
        }

        public string Name { get; }
        public string Url { get; }
        public string Icon { get; }
    }
}
