<MatThemeProvider Theme="@Theme">
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</MatThemeProvider>


@code
{
    public static MatTheme Theme = new MatTheme
    {
        Primary = MatThemeColors.Green.A200.Value,
        OnPrimary = MatThemeColors.Green._900.Value,
        Secondary = MatThemeColors.Indigo.A200.Value,
        OnSecondary = MatThemeColors.Indigo._900.Value,
        Background = MatThemeColors.Grey._500.Value,
        Surface = MatThemeColors.DeepOrange.A200.Value,
        OnSurface = MatThemeColors.DeepOrange._900.Value,
    };
}