@page "/blogs/{id}"

@inject BlogService BlogService

@if (Blog != null)
{
    <PageHeader Title="@Blog.Title" Subtitle="@Blog.Subtitle" />
}

@if (Content == null)
{
    <span>Loading...</span>
}
else
{
    @((MarkupString)BuildHtmlFromMarkdown(Content))

    <MatDivider />

    <div>
        <MatOverline>Keep Reading:</MatOverline>
        @if (Blog.Next != null)
        {
            var url = $"blogs/{Blog.Next.Id}";
            <div>
                <NavLink href="@url" target="_parent">
                    <MatButton Icon="@MatIconNames.Arrow_back" Label="@Blog.Next.Title" />
                </NavLink>
            </div>
        }
        @if (Blog.Previous != null)
        {
            var url = $"blogs/{Blog.Previous.Id}";
            <div>
                <NavLink href="@url" target="_parent">
                    <MatButton Icon="@MatIconNames.Arrow_forward" Label="@Blog.Previous.Title" />
                </NavLink>
            </div>
        }
    </div>
}

@code {
    [Parameter]
    public string Id { get; set; }

    public Blog Blog { get; private set; }

    public string Content { get; private set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.WhenAll(
            BlogService.FindAsync(Id).ContinueWith(c => Blog = c.Result),
            BlogService.GetBlogContent(Id).ContinueWith(c => Content = c.Result)
            );
    }

    private string BuildHtmlFromMarkdown(string value) => Markdig.Markdown.ToHtml(
        markdown: value,
        pipeline: new MarkdownPipelineBuilder().UseAdvancedExtensions().Build()
    );
}
